extends layout

block content
  section.hero.is-fullheight.hero--styled
    .hero-body
      .container.has-text-centered
        h1.title.is-uppercase.has-text-white.is-size-1-desktop.is-size-3-mobile Scratch Paper
        h2.subtitle.has-text-white.is-size-3-desktop.is-size-5-mobile Share every stories you have
        a.button.is-primary.is-rounded.is-size-5-desktop(href="/posts") Get Started