extends layout

block content
  section.hero.is-light.is-medium
    .hero-body
      .container.has-text-centered
        h1.title.has-text-link Doom Blogger
        h2.subtitle.has-text-grey-light A place to shout out your blog.
        a.button.is-info(href="/posts") Get Started