doctype html
html
  head
    title= `${title} | Blogger`
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/lib/bulma.css")
    link(rel="stylesheet" href="/css/lib/fontawesome-all.min.css")
    link(href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet")
    link(rel="stylesheet" href="/css/styles.css")
  body
    block header
      nav.navbar.is-primary
        .navbar-brand
          a.navbar-item(href="/")
            span.icon
              i.fab.fa-blogger-b.fa-2x
          .navbar-item
            .field.has-addons
              .control
                input.input.is-size-7-mobile(type="text" placeholder="Search blogpost...")
              .control
                a.button.is-info.is-size-7-mobile(href="#") Search
          a.navbar-burger.has-text-light
            span
            span
            span
        .navbar-menu.is-size-7-mobile
          .navbar-end
            if user
              a.navbar-item(href="/posts")
                span.icon
                  i.fas.fa-home
                span Home
              a.navbar-item(href="/posts/myposts")
                span.icon
                  i.fas.fa-book
                span My Posts
              a.navbar-item(href="/posts/new")
                span.icon
                  i.far.fa-edit
                span Create Post
              a.navbar-item(href="/auth/logout")
                span.icon
                  i.fas.fa-sign-out-alt
                span Logout
            else
              a.navbar-item(href="/auth/signup")
                span.icon
                  i.fas.fa-user-plus
                span &nbsp; Sign up
              a.navbar-item(href="/auth/signin")
                span.icon
                  i.fas.fa-sign-in-alt
                span &nbsp; Sign in

    block messages
      if messages && Object.keys(messages).length > 0
          .container.is-overlay
            - const flashCategories = Object.keys(messages)
            each category in flashCategories
              each message in messages[category]
                .message(class=`is-${category}`)
                  .message-body
                    button.delete.is-pulled-right(onClick="this.parentElement.remove()")
                    != message
     
    block content