doctype html
html
  head
    title= `${title} | Doom Blogger`
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/lib/bulma.css")
    link(rel="stylesheet" href="/css/lib/fontawesome-all.min.css")
    link(rel="stylesheet" href="/css/styles.css")
  body
    block header
      nav.navbar.is-link
        .navbar-brand
          a.navbar-item(href="/")
            span.icon.has-text-light.is-large
              i.fab.fa-node.fa-3x
          .navbar-item
            .field.has-addons
              .control
                input.input(type="text", placeholder="Search blogpost...")
              .control
                a.button.is-info(href="#") Search
        .navbar-menu
          .navbar-end
            if user
              a.navbar-item(href="#")
                span.icon.has-text-light
                  i.fas.fa-home
                span Home
              a.navbar-item(href="/posts")
                span.icon.has-text-light
                  i.fas.fa-book
                span My Posts
              a.navbar-item(href="/posts/new")
                span.icon.has-text-light
                  i.far.fa-edit
                span Create Post
              a.navbar-item(href="#")
                span.icon.has-text-light
                  i.far.fa-heart
                span Following
              a.navbar-item(href="/auth/logout")
                span.icon.has-text-light
                  i.far.fa-hand-peace
                span Logout
            else
              a.navbar-item(href="/auth/signup")
                span.icon.has-text-light
                  i.far.fa-hand-peace
                span Sign up
              a.navbar-item(href="/auth/signin")
                span.icon.has-text-light
                  i.far.fa-hand-peace
                span Sign in

    block messages
      br
      .container
        if locals.messages
          - const flashCategories = Object.keys(locals.messages)
          each category in flashCategories
            each message in locals.messages[category]
              .message(class=`is-${category}`)
                .message-body
                  button.delete.is-pulled-right(onClick="this.parentElement.remove()")
                  != message

    block content