extends layout

block content
  .section
    .container.has-text-centered
      .column.is-6.is-offset-3
        p.title.has-text-primary.has-text-weight-normal.is-size-3-mobile= title
        p.subtitle.has-text-primary.has-text-weight-light.is-size-5-mobile= sub
        .box.box--margin-t-big
          .avatar
            p.icon.has-text-primary.avatar__icon
              i.fas.fa-user-circle
          a.button.is-primary.is-outlined.is-size-7-mobile(href="/auth/google")
            span.icon
              i.fab.fa-google
            span | #{title} with Google