body {
  min-height: 100vh;
}

.navbar-item--text-styled {
  font-family: 'Gugi', cursive;
}

.navbar-item--shrink {
  flex-shrink: 1;
}

.navbar-item--no-padding-TB {
  padding-top: 0;
  padding-bottom: 0;
}

.message-body--bordered {
  border: 1px solid #dbdbdb;
}

.hero--styled {
  font-family: 'Gugi', cursive;
  background-image: linear-gradient(
      to right bottom,
      rgba(108, 218, 238, 0.2),
      rgba(66, 175, 194, 0.6)
    ),
    url(../img/hero-image.jpeg);
  background-size: cover;
  background-position: top;
}

.box--margin-t-big {
  margin-top: 60px;
}

.avatar {
  margin-top: -60px;
  padding-bottom: 20px;
}

.avatar__icon {
  padding: 35px;
  font-size: 60px;
  background: white;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
}

.card {
  flex-direction: column;
}

.card-footer {
  margin-top: auto;
}

/* single post */

.post__avatar {
  margin-top: -60px;
  padding-bottom: 20px;
}

.post__author-image {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #dcdcdc;
}

@media only screen and (max-width: 768px) {
  .avatar {
    margin-top: -45px;
  }

  .avatar__icon {
    padding: 25px;
    font-size: 40px;
  }

  .post__avatar {
    margin-top: -50px;
  }

  .post__author-image {
    padding: 0;
    width: 60px;
  }

  .post__image {
    width: 400px;
  }
}

@media only screen and (max-width: 480px) {
  .section--no-padding-LR {
    padding-left: 0;
    padding-right: 0;
  }

  .content .post__figure {
    margin: auto 0;
  }

  .content .media-left {
    margin-left: 0;
  }
}
